<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">iSay</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li <%if(active=="index"){%> class="active"<%}%>><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-star"></span> 所有说说</a></li>
      </ul>

      
      <% 
        if(!login){
      %>
      <ul class="nav navbar-nav navbar-right">
          <li <%if(active=="register"){%> class="active"<%}%>><a href="/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
          <li <%if(active=="login"){%> class="active"<%}%>><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
      </ul>

      <%
        }else{
      %>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void"><span class="glyphicon glyphicon-user"></span> 你好,<%=username%></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> 个人中心 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/setAvatar">修改头像</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退出登录</a></li>
          </ul>
        </li>
      </ul>

      <% } %>

    </div><!--/.navbar-collapse -->
  </div>
</nav>