<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iSay</title>
    <!-- 引入Bootstrap,jquery以及underscore -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src='js/jquery-1.11.1.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="js/underscore.js"></script>
    
    <style>
      body { padding-top: 50px; }
    </style>
  </head>
  
  <body>
      <% include header.ejs %>
      <% if(!login){ %>
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <h1><a href="/setAvatar"><img src="avatar/<%= avatar %>" alt="头像" class="img-thumbnail" id="avatar"></a> 欢迎来到iSay</h1>
                <p>在iSay,你可以发表说说,并与其他人互动</p>
                <p><a class="btn btn-primary btn-lg" href="/register" role="button">快来注册 &raquo;</a></p>
              </div>

              <div class="col-lg-6">
                  <form>
                      <h3>已有账号?</h3>
                      <div class="form-group">
                        <label for="username">账号</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入账号">
                      </div>
                      <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="">
                      </div>
                      <button type="button" class="btn btn-success" id="login">登录</button>
                      <div class="alert alert-danger text-center" role="alert" id="login-fail"></div>
                    </form> 
              </div> 
            </div>

          </div>

          <div class="row col-lg-6">
            
          </div>
        </div>
      <%}else{%>
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-lg-3">
                <h1><a href="/setAvatar"><img src="avatar/<%= avatar %>" alt="头像" class="img-thumbnail" id="avatar"></a><%=username%></h1>
              </div>
              <div class="col-lg-9">
                <form action="/post" method="post">
                  <div class="form-group">
                    <textarea name="content" id="post-content" cols="100" rows="6"></textarea>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary" id="post">发表</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      <%}%>
        <div class="container">
          <!-- Example row of columns -->
          <div class="row" id="all-saying"></div>
        
        </div>
          
        <% include footer.ejs %>
  </body>  
  <script type="text/template" id="template">
    <!-- 在此处填入需要渲染的模板 -->
    <div class="col-md-4">
      <h3><a href="/"><img src="avatar/{{=avatar}}" alt="头像" class="img-thumbnail samll-avatar"></a> {{=username}}</h3> 
      <p>{{=content}}</p>
      <p><a class="btn btn-default" href="#" role="button">查看更多 &raquo;</a></p>
    </div>
  </script>



  <!-- jquery以及underscore操作 -->
  <script>
    $(function(){
      $('.dropdown-toggle').dropdown();


      $("#login").click(function(){
        var username = $("#username").val();
        var pwd = $("#pwd").val();
        if(username!=="" && pwd !==""){
          $.post('/doLogin',{
          username:username,
          pwd:pwd
          },function(result){
            if(result=="1"){
              window.location = "/";
            }else if(result=="-1"){
              $("#login-fail").html("用户名不存在").fadeIn(1000);
              $("#username").val("");
              $("#pwd").val("");
              $("input").focus(function(){
                $("#login-fail").fadeOut(1000);
                
              })
            }else if(result == "-2"){
              $("#login-fail").html("密码错误").fadeIn(1000);
              $("#pwd").val("");
              $("input").focus(function(){
                $("#login-fail").fadeOut(1000);
              })
            }
  
          })
        }else{
          alert("请输入用户名或密码!")
        }
      })

      var compiled = _.template($("#template").html())

      $.ajax({
        "url":"allSaying?page=0",
        "type":"get",
        "success":function(result1){
          
          iterator(0);
          function iterator(i){
            if(i==result1.result.length){
              return;
            }
            $.get('getUserInfo?username='+result1.result[i].username,function(result2){
              console.log(result2);
              result1.result[i].avatar = result2[0].avatar;
              
              var html = compiled(result1.result[i]);
              $("#all-saying").append($(html));
            })
            iterator(i+1);
          }
        }

      })

     



    })
    
    
    
    
   
  </script>
</html>